<ion-content [fullscreen]="true">
  
  <div style="background-color:#0b3315">
    <img class="logo" src="\assets\images\logo.jpg">
  </div>

  <div class="cover-block">
    <ion-img src="/assets/images/cover.jpg" class="cover-image"></ion-img>
    <div class="cover-text-block">
      <ion-title style="font-weight:bolder; text-align:center">
        Naturally,<br>Cinnamon
      </ion-title>
      <ion-text style="font-size:x-small; text-align:center">
        100% ORGANIC CEYLON CINNAMON
      </ion-text>
    </div>
  </div>

  <div class="benefits">
    <ion-title style="font-size:x-small; font-weight:bold; text-align:center">
      ABOUT THE DRINK
    </ion-title>
    <ion-title style="font-weight:bolder; text-align:center">
      Benefits of Ceylon Cinnamon
    </ion-title><br>
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Rich in Antioxidants</ion-col>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Anti-inflammatory Properties</ion-col>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Boosts Cognitive Function </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Reduces Risk of Cancer</ion-col>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Contains Manganese</ion-col>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Improves Digestion</ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Helps Prevent Candida</ion-col>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Helps boost the Immune System</ion-col>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Reduces Risk of Heart Disease</ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Has Anti-Diabetic Effects</ion-col>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Aids in Weight Loss</ion-col>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Reduces Menstrual Cramps</ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Protects Oral Health</ion-col>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Reduces Seasonal Allergies</ion-col>
        <ion-col style="text-align: center">
          <ion-icon name="body" style="color:sienna"></ion-icon><br>
          Helps Heal Wounds</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <div class="contact">
    <ion-title style="font-size:x-small; font-weight:bold; text-align:center">
      PLACE AN ORDER
    </ion-title>
    <ion-title style="font-weight:bold; text-align:center">
      Reach Out to Us
    </ion-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="/assets/images/contact.jpg"></ion-img> 
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <ion-icon name="navigate"></ion-icon>
              </ion-col>
              <ion-col style="font-size:small">
                AAYUSHA CEYLON (PVT) LTD <br>
                199/2 Galle Road, Mount Lavinia <br>
                Colombo, Sri Lanka
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="auto">
                <ion-icon name="globe"></ion-icon>
              </ion-col>
              <ion-col style="font-size:small">
                www.aayushaceylon.com
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="auto">
                <ion-icon name="call"></ion-icon>
              </ion-col>
              <ion-col style="font-size:small">
                077 777 7777
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


