<ion-content [fullscreen]="true">
  
  <div style="background-color:#0b3315">
    <img class="logo" src="\assets\images\logo.jpg">
  </div>

  <div class="cover-block">
    <ion-img src="/assets/images/cover1.png" class="cover-image"></ion-img>
    <div class="construction">
      <p style="text-align:center; font-weight:bold; font-size:smaller">
        <ion-icon name="hammer"></ion-icon><ion-icon name="build"></ion-icon>
        Under Construction <ion-icon name="build"></ion-icon><ion-icon name="hammer"></ion-icon>
      </p>
      <p style="text-align:center; font-size:smaller">
        This website is a work-in-progress! Browse below to learn a bit more 
        about our product and come back soon for the full experience!
      </p>
    </div>
    <div class="cover-text-block">
      <ion-text style="font-weight:bolder">
        Naturally,<br>Cinnamon
      </ion-text><br>
      <ion-text style="font-size:x-small; text-align:center">
        100% ORGANIC CEYLON CINNAMON <br>
        NO ADDED SUGAR <br>
        NO PRESERVATIVES <br>
        NO ARTIFICIAL ADDITIVES
      </ion-text>
    </div>
  </div>

  <div class="details">
    <ion-img src="/assets/images/new.jpg" class="new-image"></ion-img>
    <div class="new-grid">
      <p style="font-size:small; font-weight:bold; text-align:center">
        ABOUT THE DRINK
      </p>
      <p style="text-align:center; font-size:small">
        Cinnamon contains many nutrients such as Calcium, Iron, Magnesium & Vitamin A 
        to name a few. It is primarily made up of Cinnamaldehyde, which scientists 
        believe is the compound responsible for most of cinnamon's powerful medicinal 
        effects on human health and metabolism. Our concoction Naturally, Cinnamon 
        captures the real essence of Cinnamon and all its nutrients in its purest form 
        in an easy to drink beverage.
      </p>
      <p style="font-weight:bolder; text-align:center; font-size:larger">
        Benefits of Ceylon Cinnamon
      </p>
      <ion-grid style="font-size:small">
        <ion-row style="position:relative">
          <ion-col style="text-align: center">
            <ion-icon name="body" style="color:sienna"></ion-icon><br>
            Rich in Antioxidants<br><br>
  
            <ion-icon name="body" style="color:sienna"></ion-icon><br>
            Boosts Cognitive Function <br><br>
  
            <ion-icon name="body" style="color:sienna"></ion-icon><br>
            Reduces Risk of Cancer<br><br>
  
            <ion-icon name="body" style="color:sienna"></ion-icon><br>
            Reduces Risk of Heart Disease<br><br>
  
            <ion-icon name="body" style="color:sienna"></ion-icon><br>
            Aids in Weight Loss<br><br>
  
            <ion-icon name="body" style="color:sienna"></ion-icon><br>
            Helps Heal Wounds & Muscle pains
          </ion-col>
          <ion-col style="text-align: center">
            <img src="\assets\images\bottle.png" style="object-fit:contain; height:300px;">
          </ion-col>
          <ion-col style="text-align: center">
            <ion-icon name="body" style="color:sienna"></ion-icon><br>
            Helps boost the Immune System<br><br>
  
            <ion-icon name="body" style="color:sienna"></ion-icon><br>
            Has Anti-inflammatory Properties<br><br>
  
            <ion-icon name="body" style="color:sienna"></ion-icon><br>
            Improves Digestion<br><br>
  
            <ion-icon name="body" style="color:sienna"></ion-icon><br>
            Has Anti-Diabetic Effects<br><br>
  
            <ion-icon name="body" style="color:sienna"></ion-icon><br>
            Reduces Menstrual Cramps<br><br>
  
            <ion-icon name="body" style="color:sienna"></ion-icon><br>
            Protects Oral Health
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <p style="font-weight:bolder; text-align:center; font-size:larger">
        Natrually,Cinnamon Contains
      </p>
      <ion-grid style="font-size:small">
        <ion-row>
          <ion-col style="text-align: center">
            <p style="font-weight:bold; font-size:larger">
              Ingredients</p>
            Pure Water<br>
            Organic Ceylon Cinnamon
            <p style="font-size:x-small">
              NO ALLERGENS<br>
              NO ADDED SUGAR<br>
              NO PRESERVATIVES<br>
              NO ARTIFICIAL ADDITIVES
            </p>
            <p style="font-size:x-small">
              A PROUD PRODUCT OF SRI LANKA
            </p>
          </ion-col>
          <ion-col style="text-align:center">
            <p style="font-weight:bold; font-size:larger">
              Nutrition Facts<br>
              <small>Serving Size: 360ml</small>
            </p>
            <ion-grid style="font-size:small;">
              <ion-row style="font-weight:bold">
                <ion-col></ion-col>
                <ion-col style="text-align:center">Per 100ml</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  Energy<br>
                  Protein<br>
                  Carbohydrates<br>
                  Fat<br>
                  Sugar
                </ion-col>
                <ion-col style="text-align:center">
                  4 Kcal<br>
                  1.0g<br>
                  0g<br>
                  0g<br>
                  0g
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="contact">
    <p style="font-size:small; font-weight:bold; text-align:center">
      PLACE AN ORDER
    </p>
    <p style="font-weight:bold; text-align:center; font-size:larger">
      Reach Out to Us
    </p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col size="auto">
                <ion-icon name="navigate"></ion-icon>
              </ion-col>
              <ion-col style="font-size:small">
                AAYUSHA CEYLON (PVT) LTD <br>
                199/2 Galle Road, Mount Lavinia <br>
                Colombo, Sri Lanka
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="auto">
                <ion-icon name="call"></ion-icon>
              </ion-col>
              <ion-col style="font-size:small">
                076 487 7123
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="auto">
                <ion-icon name="logo-instagram"></ion-icon>
              </ion-col>
              <ion-col style="font-size:small">
                aayusha.ceylon
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col style="text-align:center">
          <img src="/assets/images/contact.png" class="contact-image">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>


